*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sfondo{
    position: relative;
}

#top_green{
    height: 20vh;
    background-color: #019688;
}
#background{
    height: 80vh;
    background-color: #DBDBD5;
    display: flex;
    justify-content: center;
}
#app_container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80vw;
    background-color: #EAEAEA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    height: 120px;
    display: flex;
    align-items: center;
}

#column_contact{
    width: 350px;
    height: 100%;
    background-color: blue;
}

nav{
    width: 350px;
    height: 120px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    
}

.avatar{
    width: 100px;
    border-radius: 100%;
    margin: 20px;
}