<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <title>vue-boolzapp</title>
    </head>
    <body>
        <div id="app">
            <div id="sfondo">
                <div id="top_green"></div>
                <div id="background"></div>
            </div>
            <div id="app_container">
                <div id="app_container_left">
                    <header>
                    
                        <div class="title">
                            <img v-bind:src="userImg" class="avatar" alt="">
                            <h3>{{myName}}</h3>
                        </div>
                        <div>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>  
                        </div>  
                          
                    </header>
                    <div id="column_info">
                        <i id="bell" class="fas fa-bell-slash"></i>
                        <div class="title_sub">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div id="column_search">
                        <input id="input_search"  type="text" placeholder="🔎 Cerca o inizia una nuova chat">
                    </div>
                    <ul id="column_contact">
                        <li v-for="(contact,i) in contacts" @click="activeFunc(i)">
                            <img class="avatar" v-bind:src="contact.avatar" alt="">
                            <div class="title_sub">
                                <h4>{{contact.name}}</h4>
                                <h5>{{contact.messages[0].date}} </h5>
                            </div>
                        </li>

                    </ul>

                </div>
                <div id="app_container_right">
                    <div id="chat_title"> 
                        <ul id="avatar_name" v-if="activeContacts.length > 0" >
                            <li>
                                <img class="avatar" v-bind:src="activeContacts[0].avatar" alt="">
                                <div class="title_sub">
                                    <h4>{{activeContacts[0].name}}</h4>
                                    <h5>{{"Ultimo accesso oggi alle "}}{{activeContacts[0].messages[0].date}} </h5>
                                </div>
                            </li>
                            
                        </ul>
                        <span v-else>d</span>
                        <div id="icon_func">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>        
                    </div>
                    <ul id="chat_box">
                        <li class="bubble_sent">  
                            <span id="bubble_sent">{{activeContacts[0].messages[0].text}}<h6>{{activeContacts[0].messages[0].date}}</h6> </span>  
                        </li>
                        <li class="bubble_received">  
                            <span id="bubble_received">{{activeContacts[0].messages[1].text}} <h6>{{activeContacts[0].messages[0].date}}</h6></span>   
                        </li>
                    </ul>
                    <div id="message_box">
                        <i class="fas fa-microphone"></i>
                        <input id="input_message" type="text">
                        <i class="far fa-smile"></i>
                    </div>
                </div>
            </div>
            
           

        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="assets/js/main.js"></script> 
    </body>
</html>